@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/rubik/rubik-800.woff2) format("woff2");
  font-display: swap;
}

/* Общие стили и классы */
html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  background-color: #FFFFFF;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 0.2em;
  padding: 0;
}

.button-yellow-dark-crossline {
  height: 20px;
  background: repeating-linear-gradient(rgb(255, 255, 255, 0), rgb(255, 255, 255, 0) 7px, #FFC700 7px, #FFC700 15px, rgb(255, 255, 255, 0) 15px, rgb(255, 255, 255, 0));
  border: none;
}

.button-yellow-light-crossline {
  height: 20px;
  background: repeating-linear-gradient(rgb(255, 255, 255, 0), rgb(255, 255, 255, 0) 7px, #FFE17F 7px, #FFE17F 15px, rgb(255, 255, 255, 0) 15px, rgb(255, 255, 255, 0));
  border: none;
  text-align: center;
}

/* Обретка для центрирования секций */

.sections-container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

/* Header */

.page-header {
  margin-top: 17px;
}

.header-container {
  background: linear-gradient(#FFFFFF 8%, #FFE17F 8%);
  padding-left: 60px;
}

.header-container::after {
  content: "";
  display: block;
  overflow: hidden;
}

.main-navigation a,
.main-page a {
  text-decoration: none;
  color: inherit;
}

.main-navigation li,
.main-page li,
.page-footer li {
  list-style-type: none;
}

.header_navigation-user-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 1075px;
  line-height: 19px;
}

.header_navigation-user_item_search {
  margin-right: 24px;
}

.header_search {
  width: 516px;
  height: 40px;
  padding: 0;
}

.header_search::before {
  content: "";
  display: inline-block;
  margin-bottom: -2px;
  margin-right: 16px;
  width: 16px;
  height: 16px;
  background: url(../img/search.svg) no-repeat 50% 50%;
}

.header_search_field {
  background-color: #FFE17F;
  border: none;

}

::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.header_search_button {
  display: none;
  width: 160px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  border: 2px solid black;
  border-radius: 0 20px 20px 0;
  background-color: inherit;
}

.header_navigation-user-list_item_user-cabinet {
  width: 245px;
  margin-right: 15px;
}

.header_user-cabinet-button::before {
  content: "";
  margin-right: 12px;
  height: 16px;
  width: 16px;
  display: inline-block;
  background: url(../img/user.svg) no-repeat 50% 100%;
}

.header_navigation-user-list_item_compare {
  width: 120px;
  margin-right: 29px;
}

.header_compare-button::before {
  content: "";
  margin-right: 10px;
  height: 16px;
  width: 16px;
  display: inline-block;
  background: url(../img/compare.svg) no-repeat 50% 100%;
}

.header_navigation-user-list_item_cart {
  width: 126px;
  margin-right: 12px;
}

.header_add-to-cart-button {
  position: relative;
}

.header_add-to-cart-button::before {
  content: "";
  margin-right: 10px;
  height: 16px;
  width: 16px;
  display: inline-block;
  background: url(../img/cart.svg) no-repeat 50% 100%;
}

.header_add-to-cart-button::after {
  content: "2";
  height: 21px;
  width: 21px;
  display: inline-block;
  position: absolute;
  right: 95px;
  font-size: 14px;
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 50%;
}

/* Главная навигация */

.header_main-nav {
  display: flex;
  width: 1041px;
  margin-top: 29px;
  margin-bottom: 38px;
  padding: 0;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
}

.header_main-nav_item_plus-button {
  width: 50px;
}

.plus-button {
  display: block;
  width: 50px;
  height: 50px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background: url(../img/plus-button.svg) no-repeat 50% 50%;
  box-sizing: border-box;
}

.header_main-nav_item {
  width: 140px;
}

.header_main-nav_item_catalog {
  min-width: 236px;
  margin-right: 7px;
}

.header_main-nav_item_plus-button {
  margin-right: 247px;
}

.header_main-nav_item_delivery {
  margin-right: 19px;
}

.header_main-nav_item_waranty {
  margin-right: 62px;
}

.header_main-nav_item_contacts {
  text-align: end;
}

/* выпадающее меню */

.header_main-nav_catalog-nav-hidden_list {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

/* Слайдер */

.main_promo_container {
  position: relative;
  margin-bottom: 70px;
}

.main_promo_yellow_background {
  position: absolute;
  width: 100%;
  height: 152px;
  background-color: #FFE17F;
  z-index: 0;
}

.main_promo_slider {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding: 0;
  margin: 0;
  margin-top: -38px;
  width: 1160px;
  z-index: 1;
  position: relative;
}

.main_promo_slider_item {
  min-width: 1160px;
  margin: 0;
  display: grid;
  grid-template-columns: 560px auto auto;
  grid-template-rows: auto;
  position: relative;
  column-gap: 40px;
}

.main_promo_slider_item_image {
  grid-column: 1 / 2;
  grid-row: 1 / 5;
}

.main_promo_slider_item_slide-number {
  font-size: 180px;
  line-height: 30px;
  color: #FFFFFF;
  font-weight: 800;
  position: absolute;
  z-index: 0;
  right: 50px;
  top: 90px;
  grid-row: 1 / 2;
  grid-column: 2 / 4;
}

.main_promo_slider_item_heading {
  width: 560px;
  margin: 0;
  margin-top: 124px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  z-index: 1;
  grid-row: 1 / 2;
  grid-column: 2 / 4;
}

.main_promo_slider_item_description {
  width: 560px;
  grid-row: 2 / 3;
  grid-column: 2 / 4;
  margin: 19px 0 0 0;
}

.main_promo_slider_item_button {
  width: 220px;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.main_promo_slider_dots-control_list {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  padding: 0;
}

.main_promo_slider_item_spec {
  line-height: 30px;
  grid-column: 2 / 4;
  grid-row: 4 / 5;
  display: grid;
  grid-auto-columns:  min-content;
  grid-auto-rows: min-content;
  column-gap: 20px;
  margin: 0;
}

.main_promo_slider_item_spec_description {
  grid-row: 1 / 2;
  margin: 0;
  min-width: 160px;
  font-size: 36px;
}

.main_promo_slider_item_spec_block {
  display: inline-block;
}

.main_promo_slider_item_spec_title {
  font-size: 16px;
}

.slider-btn {
  width: 20px;
  height: 60px;
  border: none;
  grid-column: 1 / 2;
  grid-row: 1 / 5;
  align-self: center;
}

.main_promo_slider_next-slide-btn {
  background: url(../img/right-tall-arrow.svg) no-repeat 50% 50%;
  margin-left: auto;
}

.main_promo_slider_prvs-slide-btn {
  background: url(../img/left-tall-arrow.svg) no-repeat 50% 50%;
  margin-right: auto;
}

.main_promo_slider_dots-control_list {
  display: flex;
  justify-content: space-between;
  width: 80px;
  height: 12px;
}

.slider-dot-btn {
  padding: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #000000;
  background-color: #FFFFFF;
}

.slider-dot-btn_active {
  background-color: #000;
}

/* Блок с категориями товаров */

.main_catalog-categories {
  margin-bottom: 69px;
}

.main_catalog-categories_list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.main_catalog-categories_list_item {
  width: 160px;
}

.main_catalog-categories_list_heading {
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: -0.02em;
}

.main_catalog-categories_list_icon {
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
}

.vr-icon {
  background-image: url(../img/vr.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.monopod-icon {
  background-image: url(../img/monopod.svg);
  background-repeat: no-repeat;
  background-position: 50% 100%;
}

.action-cam-icon {
  background-image: url(../img/act_cam.svg);
  background-repeat: no-repeat;
  background-position: 55% 51%;
}

.ftns-bands-icon {
  background-image: url(../img/ftns_band.svg);
  background-repeat: no-repeat;
  background-position: 49% 52%;
}

.smart-watches-icon {
  background-image: url(../img/smart_watch.svg);
  background-repeat: no-repeat;
  background-position: 51% 50%;
}

.copters-icon {
  background-image: url(../img/copter.svg);
  background-repeat: no-repeat;
  background-position: 50% 53%;
}

/* Блок с информацией о сервисах */

/* Градиент будет на весь блок когда будет разметка блока */
.main_about-services {
  background: linear-gradient(#FFFFFF 25%, #F0F0F0 25%);
  padding-bottom: 69px;
  margin-bottom: 90px;
}

.main_sections-container_services {
  display: flex;
}

.main_about-services_button-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 277px;
  min-height: 319px;
  margin: 0;
  padding: 0;
  border-right: 7px solid #000000;
}

.main_about-services_slider-button-wrap {
  height: 40px;
  width: 280px;
  padding-top: 5px;
  padding-bottom: 11px;
  margin: 0;
  box-sizing: border-box;
}

.main_about-services_slider-button-wrap-active {
  background-color: #000;
}

.main_about-services_slider-button_active {
  color: #FFE17F;
  background: none;
}

.main_about-services_slider-button {
  width: 160px;
}

.main_about-services_button-list_item:not(:last-child) {
  margin-bottom: 24px;
}

.main_about-services_list {
  display: flex;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.main_about-services_list_item {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  padding-left: 116px;
  margin-right: 73px;
  min-width: 694px;
}

.main_about-services_list_item_heading {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 14px;
  width: 560px;
}

.main_about-services_list_item_description {
  width: 497px;
}

.main_about-services_list_item_delivery {
  background: url(../img/delivery.svg) no-repeat 100% 52%;
}

.main_about-services_list_item_warranty {
  background: url(../img/warranty.svg) no-repeat 100% 52%;
}

.main_about-services_list_item_credit {
  background: url(../img/credit.svg) no-repeat 100% 52%;
}


/* Блок "О компании" */

.main_about-company_container {
  display: flex;
  justify-content: space-between;
}

.main_about-company section {
  width: 560px;
  justify-content: space-between;
}

.main_contacts_button,
.main_about_button {
  width: 260px;
  display: block;
  text-align: center;
  margin-bottom: 0;
}

.main_about-us_company-list {
  padding: 0;
  margin-bottom: 52px;
}

.main_about-us_company-list li:not(:last-child) {
  margin-bottom: 31px;
}

.main_about-us_company-list_item::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FFC700;
  display: inline-block;
  margin-right:  26px;
}

.main_contacts_schedule_list {
  padding: 0;
  margin-bottom: 67px;
}
/* Блок с кнопкой заказа доставки */

.main_delivery-order_button {
  margin-bottom: 97px;
}

.main_delivery-order_button-wrap {
  background-color: #F0F0F0;
  display: flex;
  align-items: center;
}

.main_delivery-order_button_heading {
  display: inline-block;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.main_delivery-order_button-wrap::before {
  content: "";
  display: inline-block;
  width: 125px;
  height: 100px;
  background: #FFE17F url(../img/delivery-button_icon.svg) no-repeat 50% 50%;
}

.main_delivery-order_button-wrap::after {
  content: "";
  display: inline-block;
  margin-right: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(220, 220, 220, 0.5) url(../img/info.svg) no-repeat 50% 50%;
}

/* Блок "О нас" */

.main_about-company {
  padding-bottom: 87px;
}

.main_about-company section {
  display: flex;
  flex-direction: column;
}

.black-dash {
  width: 80px;
  height: 7px;
  background-color: #000;
  margin-bottom: 42px;
}

.main_about-us_heading,
.main_contacts_heading {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  margin: 0;
  margin-bottom: 26px;
}

.main_about-us_text {
  margin-bottom: 30px;
}

.main_about-us_company-list_item {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.main_contacts_text {
  margin-bottom: 30px;
}

.main_contacts_name-heading,
.main_contacts_schedule_heading {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}

.main_contacts-address {
  font-style: normal;
}
.main_contacts-address p{
  margin-bottom: 0;
}

.main_contacts-address a{
  text-decoration: underline;
}

/* Блок с подпиской */

.main_subscription {
  background: #F0F0F0;
  margin-right: 0;
}

.main_subscription .sections-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 134px;
  padding-top: 40px;
}

.main_subscription_heading {
  width: 560px;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.main_subscription_text {
  width: 560px;
}

.main_subscription_form_field-wrap {
  width: 601px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

.main_subscription_form {
  display: flex;
}

.main_subscription_form_field {
  border: none;
  background-color: #F0F0F0;
  width: 560px;
  height: 30px;
}

.main_subscription_form_button {
  width: 260px;
  height: 55px;
  border: 3px solid rgba(0, 0, 0, 0.1);
}

.main_subscription_cost {
  margin: 0;
}

.main_subscription_cost::before {
  content: "";
  display: inline-block;
  background: url(../img/tick-big.svg) no-repeat 50% 100%;
  width: 14px;
  height: 14px;
  margin-right: 21px;
}

/* Футер */

.page-footer {
  background-color: #444444;
  color: #FFFFFF;
  margin: 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 62px;
  align-items: center;
  align-content: space-around;
}

.page-footer a {
  text-decoration: none;
  color: #FFFFFF;
}

.footer-logo {
  display: block;
  width: 145px;
  margin-bottom: 35px;
  margin-right: calc(100% - 145px);
}

.footer_address {
  display: inline-block;
  width: 239px;
  margin-right: 114px;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

.page-footer_navigation_list {
  display: flex;
  margin: 0;
  padding: 0;
  width: 458px;
}

.page-footer_navigation_list_item {
  width: 148px;
  text-align: center;
}

.page-footer_navigation_list_item li:not(:last-child) {
  margin-right: 7px;
}

.footer_tel {
  margin-right: 0;
  margin-left: auto;
  width: 293px;
  text-align: end;
  line-height: 30px;
  font-size: 16px;
}

.page-footer_yellow-line {
  width: 80px;
  height: 7px;
  background-color: #FFC700;
  margin-top: 68px;
  margin-bottom: 77px;
  margin-right: 425px;
}

.footer_social_list {
  display: flex;
  width: 150px;
  padding: 0;
}

.footer_social_list li:not(:last-child) {
  margin-right: 15px;
}

.footer_social_list_item {
  background: rgba(255, 255, 255, 0.3);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.footer_social_list_item_link {
  width: 100%;
  height: 100%;
}

.footer_social_list_item_link-facebook {
  background: url(../img/facebook.svg) no-repeat 50% 50%;
}

.footer_social_list_item_link-instagram {
  background: url(../img/instagram.svg) no-repeat 50% 50%;
}

.footer_social_list_item_link-twitter {
  background: url(../img/twitter.svg) no-repeat 50% 50%;
}

.html-academy-logo {
  width: 115px;
  margin-right: 0;
  margin-left: auto;
}
/* Страница каталога */

.header_user-cabinet-exit-button {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.3);
}

.main_catalog-header {
padding-left: 60px;
box-sizing: border-box;
}

.main_catalog-category-heading {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  margin-top: 37px;
  margin-bottom: 14px;
}

/* Хлебные крошки */
.breadcrumbs {
  list-style-type: none;
  padding: 0;
  margin-bottom: 49px;
}

.breadcrumbs a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6)
}

.breadcrumbs-item {
  display: inline-block;
  margin-right: 17px;
}


.breadcrumbs-item:not(:first-child)::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 7px;
  background: url(../img/bread_crumbs_arrow.svg) no-repeat 50% 50%;
  margin-right: 15px;
}

/* Секция каталога с фильтрами */

.catalog-products {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

/* Фильтр каталога */

.catalog-products_filters {
  background-color: #E5E5E5;
  flex-grow: 1;
}

.catalog-products_filters_heading-wrap {
  background-color: #DCDCDC;
  height: 70px;
}

.catalog-products_filters_heading {
  margin: 0;
  height: 70px;
  padding-top: 25px;
}

.catalog-products_filters_heading,
.sorting-field-label {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.catalog-products_filters_content-wrap {
  width: 328px;
  margin-left: auto;
  margin-right: 0;
  padding-left: 60px;
  box-sizing: border-box;
}

.catalog-filter-heading {
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.catalog-filter-label {
  font-size: 15px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-filter {
  background-color: #E5E5E5;
}

.catalog-filter_form_button {
  width: 200px;
}

/* Сортировка каталога */

.catalog_products {
  flex-grow: 1;
}

.catalog_products_sorting {
  background-color: #EBEBEB;
  height: 70px;
}

.catalog_products_sorting-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  padding-left: 72px;
  justify-content: space-between;
  box-sizing: border-box;
}

.sorting-field-label {
  margin-right: 73px;
}

.select-control {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  border: none;
  background-color: inherit;
}

.filter-order-button {
  display: block;
  width: 11px;
  height: 10px;
}

.filter-order-button_descending {
  background: url(../img/sort-up.svg);
  margin-left: 19px;
}

.filter-order-button_ascending {
  background: url(../img/sort-down.svg);
  margin-left: auto;
}


/* Карточки товаров */

.catalog_products_content-wrap {
  width: 832px;
}

.catalog_products_display_products_wrap {
  padding-top: 69px;
  padding-left: 72px;
}

.product-cards-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 44px;
  padding: 0;
  margin: 0;
  margin-bottom: 44px;
  list-style-type: none;
}

.product-cards-list_item {
  position: relative;
}

.product-cards-list a {
  text-decoration: none;
  color: #000000;
}

.product-card-link {
  display: block;
}

.product-card-image {
  margin-bottom: 32px;
}

.product-card-title {
  font-weight: 700;
  line-height: 24px;
  display: inline-block;
  margin: 0;
  width: 280px;
  min-height: 50px;
  line-height: 24px;
  letter-spacing: -2%;
}

.product-card-price {
  display: inline-block;
  vertical-align: top;
  line-height: 21px;
  font-weight: 400;
  color: #444444;
}

.product-card-button_wrap {
  line-height: 380px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(240, 240, 240, 0.8);
  width: 360px;
  height: 380px;
  text-align: center;
}

.product-card-button {
  display: inline-block;
  width: 180px;
}

.product-card_new-product-label {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 60px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 27px;
  left: 273px;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

.product-list_show-more-button {
  border: 3px solid rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  width: 760px;
  height: 55px;
  margin-bottom: 51px;
}

/* Меню страниц */

.pagination-list {
  display: flex;
  padding: 0;
  margin: 0 0 77px 0;
  background-color: #EBEBEB;
  list-style-type: none;
  align-items: center;
  height: 70px;
  width: 760px;
}

.pagination-list a{
  text-decoration: none;
  color: #000000;
}

.pagination-list_item:first-child {
  margin-right: auto;
  margin-left: 29px;
}


.pagination-list_item:last-child {
  margin-left: auto;
  margin-right: 30px;
}

.pagination-prev,
.pagination-next {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.pagination-link_number {
  font-size: 16px;
  color: rgba(44, 44, 44, 0.3);
}

.visually-link_text {
  line-height: 19px;
}
